@use "@styles/base/_mixins.scss" as *;

.hotel {
	padding-block: toRem(60);
	// .hotel__container
	&__container {
	}
	&__head {
		margin-bottom: toRem(40);
	}
	// .hotel__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(330), 1fr));
		row-gap: toRem(28);
		column-gap: toRem(18);
	}
}
