@use "@styles/base/_mixins.scss" as *;

.hotel-card {
	display: flex;
	flex-direction: column;
	&__img {
		display: block;
		border-radius: toRem(10) toRem(10) 0 0;
		aspect-ratio: 444 / 319;
		overflow: hidden;
		img {
			will-change: transform;
			transition: transform 0.3s;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
	// .hotel-card__body
	&__body {
		box-shadow: 0 toRem(5) toRem(20) 0 rgba(0, 0, 0, 0.1);
		background-color: #fff;
		border-radius: 0 0 toRem(10) toRem(10);
		padding: toRem(30) toRem(28);
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	// .hotel-card__title
	&__title {
		font-weight: 600;
		font-size: toRem(24);
		color: #000;
		margin-bottom: toRem(15);
	}
	// .hotel-card__info
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--text-accent);
		column-gap: toRem(15);
		margin-bottom: toRem(15);
	}
	// .hotel-card__city
	&__city {
		font-weight: 600;
		font-size: toRem(20);
	}
	// .hotel-card__price
	&__price {
		font-size: toRem(18);
	}
	// .hotel-card__text
	&__text {
		margin-bottom: toRem(13);
		flex-grow: 1;
	}
	// .hotel-card__bottom
	&__bottom {
		display: flex;
		column-gap: toRem(10);
		justify-content: space-between;
		align-items: center;
	}
	// .hotel-card__rating
	&__rating {
		flex-shrink: 0;
	}
	// .hotel-card__button
	&__button {
		flex-shrink: 0;
	}
}
