@use "@styles/base/_mixins.scss" as *;

.head-block {
	// .head-block__content
	&__content {
	}
	// .head-block__title
	&__title {
		transition: color 0.3s;
		&:not(:last-child) {
			margin-bottom: toRem(14);
		}
	}
	// .head-block__text
	&__text {
		transition: color 0.3s;
		max-inline-size: toRem(580);
	}
}
