@use "@styles/base/_mixins.scss" as *;

.promo {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		inline-size: 100%;
		block-size: 100%;
		inset-block-start: 0;
		inset-inline-start: 0;
		backdrop-filter: blur(toRem(2.5));
		background-color: rgba(18, 11, 11, 0.2);
		z-index: -1;
	}
	// .promo__container
	&__container {
		min-block-size: 100svh;
		padding-block: toRem(120);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	// .promo__title
	&__title {
		text-transform: capitalize;
		text-align: center;
		max-inline-size: toRem(780);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	&__text {
	}
	&__bg {
		position: absolute;
		inline-size: 100%;
		block-size: 100%;
		inset-block-start: 0;
		inset-inline-start: 0;
		z-index: -2;
	}
}
