@use "@styles/base/_mixins.scss" as *;

.promo {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		inline-size: 100%;
		block-size: 100%;
		inset-block-start: 0;
		inset-inline-start: 0;
		backdrop-filter: blur(toRem(2.5));
		z-index: -1;
	}
	&__container {
		position: relative;
		padding-block: toRem(120);
		min-height: 100svh;
		display: flex;
		align-items: center;
	}
	&__content {
		flex-basis: toRem(736);
	}
	&__title {
		margin-bottom: toRem(37);
	}
	&__text {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	&__button {
	}
	&__bg {
		position: absolute;
		inline-size: 100%;
		block-size: 100%;
		inset-block-start: 0;
		inset-inline-start: 0;
		z-index: -2;
	}
	&__img {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		inline-size: 100%;
		block-size: 100%;
		object-fit: cover;
		transition: opacity 0.3s;
		&--light {
			opacity: 1;
		}
		&--dark {
			opacity: 0;
			z-index: 1;
		}
	}
	&.--dark {
		.promo__img {
			&--dark {
				opacity: 1;
				transform: scale(1);
			}
			&--light {
				opacity: 0;
			}
		}
	}
}
